@font-face {
    font-family: 'Mulish';
    src: url(../webfonts/Mulish/static/Mulish-Medium.ttf);
}

@font-face {
    font-family:'Lexend';
    src: url(../webfonts/Lexend/static/Lexend-Regular.ttf);
}

@font-face {
    font-family: 'Kalnia';
    src : url(../webfonts/Kalnia/static/Kalnia-Regular.ttf);
}

html {
    overflow-x: hidden;
}

.root-setting {
    font-family: 'Mulish', 'Arial';
    font-size: 1.05em;
    background-color: #FF9575;
}

.root-container {
    margin-top: 1.3rem;
}

.back-font {
    font-size: 0.75em;
}

.img-margin, .intro-margin{
    margin-left: 3rem;
    width : 50%;
}

.title-lead {
    font-family: 'Kalnia';
}

.carousel-setting {
    margin-top: 1vh;
    margin-left: 10vw;
}

.carousel-font, .lead-font{
    font-size: 0.75em;
}

.margin-indicator {
    margin : 0rem 1rem -1rem 0rem;
}

.bg-gray {
    background-color: #4e4c5a;
}

.custom-btn-m {
    margin : 20vh 0vw 0vh 33vw;
}

.lead-font {
    margin : 0.
}

.margin-login {
    margin-right : 1rem;
    margin-top: 1.5rem;
}

.ripple-effect {
    position : absolute;
    background-color : whitesmoke;
    width : 60px;
    height : 60px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation : scale 0.3s ease-in-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(4);
        opacity : .20;
    }
}

@media (min-width : 576px) {
    .img-margin, .intro-margin {
        margin-left: 5rem;
    }
    .root-container {
        margin-top: 0.6rem;
    }
    .custom-btn-m {
        margin : 10vh 0vw 0vh 39.5vw;
    }
    .back-font {
        margin-left: 1rem;
        font-size: 0.85em;
    }
    .carousel-font, .lead-font {
        font-size: 0.85em;
    }
}
@media (min-width : 768px) {
    .root-container {
        margin : 2rem 0rem 0rem -4rem;
    }
    .img-margin {
        width : 60%;
    }
    .margin-indicator {
        margin : 0rem -9rem -1rem 0rem;
    }
    .intro-margin {
        margin-left: 7rem;
    }
    .back-font, .carousel-font{
        font-size: 0.95em;
    }
    .lead-font {
        font-size: 0.95em;
        margin-top: 1.5rem;
        margin-left : 2rem;
    }
    .custom-btn-m {
        margin : -15vh 0vw 0vh 62vw;
    }
    .margin-login {
        margin-right: -19rem;
        margin-top : -0.5rem; 
    }
}

@media (min-width : 992px) {
    .root-container {
        margin : 0rem 0rem 0rem -4rem;
    }
    .carousel-font {
        font-size: 1.05em;
    }
    .custom-btn-m {
        margin : -35vh 0vw 0vh 64.5vw;
    }
    .margin-login {
        margin-right : -27rem;
        margin-top : -4rem; 
    }
}

@media (min-width : 1200px) {
    .lead-font {
        font-size: 1.1em;
    }
    .margin-login {
        margin-right : -30rem;
    }
}

@media (min-width : 1360px) {
    .lead-font {
        width : 70%;
        margin-left: 4.5rem;
    }
    .margin-login {
        margin-right : -34rem;
    }
    .custom-btn-m {
        margin : -35vh 0vw 0vh 65.5vw;
    }
}



